<!--

  THIS IS FOR YOUR FUN FACTS PAGE!!!!!!

-->


<!--

  THIS IS FOR YOUR SCHEDULED TRIPS!!!!!!!

-->


<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<%- include('../partials/Modal'); %>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<style>

</style>

<main>
    <div class="jumbotron">
        <h2>Scheduled Trips</h2>
        <br>

        <h2>
            Congrats, you made it to the fun facts page!
        </h2>

        <br>

        <h3>
            Here we will display some fun facts regarding some of the destination you have decided you wanted to go to!
        </h3>

    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>







