<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<style>
    h2 {
        text-align: center;
    }
</style>
<body class="container">
<header>
    <%- include('../partials/header'); %>
</header>
<main>

    <h2>

        I hope you have a wonderful day :)
    </h2>



</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>

